<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="nilnul.os.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="nilnul.os.proc_.started_.unwaited._close.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.8343.38579" newVersion="2.1.8343.38579" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <nilnul.os.Properties.Settings>
      <setting name="procBye" serializeAs="String">
        <value>1800100</value>
      </setting>
      <setting name="procLife" serializeAs="String">
        <value>7200100</value>
      </setting>
      <setting name="procLaterPop" serializeAs="String">
        <value>30100</value>
      </setting>
      <setting name="proc_runAftCancel" serializeAs="String">
        <value>600100</value>
      </setting>
      <setting name="WinVol" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="procWait4Handle" serializeAs="String">
        <value>5100</value>
      </setting>
    </nilnul.os.Properties.Settings>
    <nilnul.os.proc_.started_.unwaited._close.Settings1>
      <setting name="minimum4user2close" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="extended4user2close" serializeAs="String">
        <value>6000000</value>
      </setting>
      <setting name="waitAftKill" serializeAs="String">
        <value>600000</value>
      </setting>
    </nilnul.os.proc_.started_.unwaited._close.Settings1>
  </userSettings>
</configuration>